<!-- File Name: views/partials/footer.ejs | Student Name: Zachery Cardoza | Student Id: 301183433 | Oct 26th, 2021 -->
<footer class="footer">
    <div class="container">
        <p class="text-muted text-center">All rights reserved. COMP229 - Midterm Test</p>
    </div>
</footer>
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script>
    var getTitle = "<%= title %>";
</script>
<script src="/javascripts/app.js"></script>    
</body>
</html>