<!-- File Name: views/index.js | Student Name: Zachery Cardoza | Student Id: 301183433 | Oct 26th, 2021 -->
<% include partials/header.ejs %>

  <h1><%= title %></h1>
  <p>Welcome to <%= title %></p>


<% include partials/footer.ejs %>
